@media (max-width: 1366px) {
    .col4 {
        width: calc(99.9% / 2) !important;
    }
}

@media (max-width: 600px) {
    .col4 {
        width: calc(99.9% ) !important;
    }
    #keyboard-sesion {
        left: 0 !important;
        min-width: 100%;
    }

    #slider .slide-btn.prev-btn {
        left: 5px;
    }
}

#slider {
    z-index: 2;
    height: 100vh;
    position: relative;
    cursor: grab;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
}
.wrapper.grabbing {
    scroll-behavior: smooth;
}
.slider-item {
    flex: 1 1 100%;
    min-width: 100vw;
    overflow: hidden;
}
.slider-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    height: 100vh;
}
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.5s;
}
.slide-btn i {
    font-size : 32px;
    color: white;
}
.slide-btn:last-child {
    right: 5px;
}
.slide-btn:first-child {
    left: 75px;
}
.container.closeNav #slider .slide-btn:first-child {
    left: 255px;
}

#keyboard-sesion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 70px;
    width: calc(100% - 70px);
    transition: all ease 0.5s;
}
.body-content.closeNav #keyboard-sesion {
    width: calc(100% - 250px);
    left: 250px;
}
#keyboard-sesion .kb-sesion-header {
    display: flex;
    flex-direction: column;
}

#keyboard-sesion .kb-sesion-header a, h2 {
    text-align: center;
    color: var(--text-color);
}

#keyboard-sesion .kb-sesion-header a {
    font-size: 15px;
}
#keyboard-sesion .kb-sesion-header a:hover {
    color: var(--box2-color);
    cursor: pointer;
}

.body-content.closeNav #keyboard-sesion .kb-wrapper,
.body-content.closeNav #keyboard-sesion .hp-wrapper
{
      width: 80%;
}
.body-content.closeNav #keyboard-sesion .mouse-wrapper {
      width: 80%;
}
#keyboard-sesion .kb-wrapper,  
#keyboard-sesion .mouse-wrapper,
#keyboard-sesion .hp-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all ease 0.5s;
    width: 75%;
}
.col4{
    width : calc(99.9% /4);
}

.product-item {
    padding: 0 10px;
    transition: all ease 0.5s;
    cursor: pointer;
}
.product-item .product-item-thumbnail img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    transition: all ease 0.5s;
}
.product-item .product-item-thumbnail:hover img {
    transform: scale(1.05, 1.05);
}
.product-item .product-item-thumbnail {
    border-radius: 12px;
    overflow: hidden;
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    justify-content: center;
    position: relative;
}

.product-item .product-item-title:hover{
    color: var(--box2-color);
    transition: all ease 0.3s;
}

.product-item-price {
    padding: 20px 0;
}

.favorite-product, .addProductToCart {
    background-color : var(--danger-color);
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}
.product-item-option {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all ease 0.5s;
}
.favorite-product i, .addProductToCart i {
    color: white;
    font-size: 16px;
}
.product-item:hover .product-item-option {
    display: inline-flex !important;
}
.appear {
    opacity: 1;
    transform: scale(1,1);
}

.disappear {
    opacity: 0;
    transform: scale(0,0);
}