@{
    ViewBag.Title = "Trang chủ";
}

@section link {
    <link rel="stylesheet" href="~/css/Home.css" />
    <link rel="stylesheet" href="~/css/myProduct.css" />
}
<div id="slider">
    <div class="slide-btn prev-btn">
        <i class='bx bxs-chevron-left'></i>
    </div>
    <div class="wrapper grabbing">
        <div class="slider-item">
            <img src="~/images/setup/pexels-pew-nguyen-15372897.jpg" draggable="false" />
        </div>
        <div class="slider-item">
            <img src="~/images/setup/pexels-fox-2106216.jpg" draggable="false" />
        </div>
        <div class="slider-item">
            <img src="~/images/setup/pexels-fox-245252.jpg" draggable="false" />
        </div>
    </div>
    <div class="slide-btn next-btn">
        <i class='bx bxs-chevron-right'></i>
    </div>
</div>

<div id="category-session">
    <button class="category-direction left-direction unactive"><i class='bx bx-chevron-left'></i></button>
    <button class="category-direction right-direction"><i class='bx bx-chevron-right'></i></button>
    <div class="category-wrapper">
        <a href="/ban-phim">
            <div class="category-item">
                <img src="~/images/akko3068BTokyo.jpg" />
                <span>Bàn phím</span>
            </div>
        </a>
        <a href="/chuot">
            <div class="category-item">
                <img src="~/images/logitechG304.jpg" />
                <span>Chuột</span>
            </div>
        </a>
        <a href="/tai-nghe">
            <div class="category-item">
                <img src="~/images/LogitechG735.jpg" />
                <span>Tai nghe</span>
            </div>
        </a>
        <a href="/tay-cam">
            <div class="category-item">
                <img src="~/images/HyperXCloudBud.jpg" />
                <span>Tay cầm</span>
            </div>
        </a>
        <a href="/decor">
            <div class="category-item">
                <img src="~/images/HyperXCloudBud.jpg" />
                <span>Decor</span>
            </div>
        </a>
    </div>
</div>

<div id="keyboard-sesion">
    <div class="kb-sesion-header">
        <h2>BÀN PHÍM CƠ</h2>
        <a href="/ban-phim">Xem thêm</a>
    </div>
    <div class="kb-wrapper">

    </div>
</div>

<div id="keyboard-sesion">
    <div class="kb-sesion-header">
        <h2>CHUỘT MÁY TÍNH</h2>
        <a href="/chuot">Xem thêm</a>
    </div>
    <div class="mouse-wrapper">

    </div>
</div>

<div id="keyboard-sesion">
    <div class="kb-sesion-header">
        <h2>TAI NGHE</h2>
        <a href="tay-cam">Xem thêm</a>
    </div>
    <div class="hp-wrapper">

    </div>
</div>

@section scripts {  
    <script src="~/js/Home.js"></script>
}