@media (max-width: 1200px) {
    .col4 {
        width: calc(99.9% / 2) !important;
    }
    #slider {
        height: 60vh !important;
    }
}

@media (max-width: 700px) {
    .col4 {
        width: calc(99.9% ) !important;
    }
    #keyboard-sesion {
        left: 0 !important;
        min-width: 100%;
    }

    #slider .slide-btn.prev-btn {
        left: 5px;
    }
    
    #category-session {
        display: block !important;
    }
}

#slider {
    z-index: 2;
    height: 100vh;
    position: relative;
    cursor: grab;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
}
.wrapper.grabbing {
    scroll-behavior: smooth;
}
.slider-item {
    flex: 1 1 100%;
    min-width: 100%;
    overflow: hidden;
    height: 100%;
}
.slider-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.5s;
}
.slide-btn i {
    font-size : 32px;
    color: white;
}
.slide-btn:last-child {
    right: 5px;
}
.slide-btn:first-child {
    left: 75px;
}
.container.closeNav #slider .slide-btn:first-child {
    left: 255px;
}

#keyboard-sesion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 70px;
    width: calc(100% - 70px);
    transition: all ease 0.5s;
}
.body-content.closeNav #keyboard-sesion {
    width: calc(100% - 250px);
    left: 250px;
}
#keyboard-sesion .kb-sesion-header {
    display: flex;
    flex-direction: column;
}

#keyboard-sesion .kb-sesion-header a, h2 {
    text-align: center;
    color: var(--text-color);
}

#keyboard-sesion .kb-sesion-header a {
    font-size: 15px;
}
#keyboard-sesion .kb-sesion-header a:hover {
    color: var(--box2-color);
    cursor: pointer;
}

.body-content.closeNav #keyboard-sesion .kb-wrapper,
.body-content.closeNav #keyboard-sesion .hp-wrapper
{
      width: 80%;
}
.body-content.closeNav #keyboard-sesion .mouse-wrapper {
      width: 80%;
}
#keyboard-sesion .kb-wrapper,
#keyboard-sesion .mouse-wrapper,
#keyboard-sesion .hp-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all ease 0.5s;
    width: 75%;
}

#category-session {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 10px;
    display: none;
}

.category-direction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
.category-direction.unactive {
    opacity: .4;
}
.category-direction {
    background : #fff;
    border-radius: 50%;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 12px 0px #888;
}

.category-direction i {
    font-weight: 300;
    font-size: 20px;
}

.left-direction {
    left: 10px;
}
.right-direction{
    right: 10px;
}

.category-wrapper {
    display:flex;
    align-items: center;
    padding-top: 15px;
    scroll-behavior: smooth;
    overflow-x: scroll;
}
.category-wrapper::-webkit-scrollbar{
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;    
    cursor: pointer;
}
.category-item span {
    font-size: 12px;
    color: #545454;
}
.category-item img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    padding: 5px;
    transition: all ease .4s;
}

.category-item:hover img{
    transform: rotate(45deg);
}