#user-info {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#user-info.flex-visible {
    display: flex;
}

.background-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.info-section {
    background-color: var(--panel--color);
    backdrop-filter: blur(20px);
    z-index: 2;
    padding: 30px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.user-avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--toggle-color);
}

    .user-avatar img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
        transition: all ease 2s;
    }

    .user-avatar:hover img {
        transform: scale(1.1);
    }

.user-infomation {
    width: 60%;
}

.user-infomation-item {
    margin-top: 12px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

    .user-infomation-item span {
        color: var(--black-light-color);
        margin-left: 40px;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }

.priority-zone {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: 500;
}

.user-setup {
    border-left: 1px solid var(--border-color);
    margin-left: 6px;
    padding-left: 6px;
    width: 20%;
}

    .user-setup h2 {
        text-align: center;
    }

    .user-setup h2 i {
        color: var(--black-light-color);
        font-size: 32px;
    }

.priority-zone span {
    color: var(--black-light-color);
}
